# langchain packages
langchain == 1.3.14
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-deepseek
langchain-chroma
langchain-google-vertexai # ragas dependency

# other packages
pypdf
sentence-transformers
torch
dotenv
pydantic
pypi-json

# vector database
qdrant-client
chromadb

# format
black

# Evaluation
ragas
datasets
